<br>
<div class="jumbotron" style="color: whitesmoke; background-color: #382e2e;">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10"><br>
      <h4>Agile Project Management</h4>
      <p><b class="text-info">AGILE</b> is quickly gaining popularity in the modern workplace as a way to complete work in the complex, ever-changing world.<br>
        It thrives in adaptive cultures where team members are quick to change if the outcome is a more productive work experience.<br>
        Agile project management is an iterative approach to project management that focuses on breaking down large projects into<br>
        more manageable tasks, which are completed in short iterations throughout the project life cycle. Teams that adopt the Agile<br>
        methodology are able to complete work faster, adapt to changing project requirements, and optimize their workflow.</p><br>
      <div *ngIf="!auth" class="row">
        <div class="col-sm-4">
          <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signinModal">Log In</a>&nbsp;&nbsp;&nbsp;
          <a type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#signupModal">Sign Up</a>
        </div>
        <div class="col-sm-8"></div>
      </div><br>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
<app-login-window></app-login-window>
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalLabel">Create Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <form class="form-check-inline" (ngSubmit)="SignUp()">
              <input type="text" class="form-control-sm" placeholder="Username"/><br><br>
              <input type="password" class="form-control-sm" placeholder="Password"/><br><br>
              <input type="email" class="form-control-sm" placeholder="Address..."/><br><br>
              <div class="mb-3">
                <input class="form-control form-control-sm" id="profile" type="file">
              </div>
            </form>
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Close</a>
        <a type="submit" class="btn btn-success btn-sm">Signup</a>
      </div>
    </div>
  </div>
</div>

<br>
<div class="jumbotron" style="color: whitesmoke; background-color: #382e2e;">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <br><br>
      <b class="text-success">AGILE</b> project management is an iterative approach to project management that focuses on breaking down large projects into <br>
      more manageable tasks, which are completed in short iterations throughout the project life cycle. Teams that adopt the Agile <br>
      methodology are able to complete work faster, adapt to changing project requirements, and optimize their workflow, contains<br>
      this core principles:<br><br>
      <ul class="list-group" style="width: 60%;">
        <li class="list-group-item list-group-item-action disabled" style="background-color: #282A35;"><input type="checkbox" class="form-check-input m-1" checked> &nbsp;&nbsp;<b style="color: whitesmoke;">Individuals and interactions over processes and tools</b></li>
        <li class="list-group-item list-group-item-action disabled" style="background-color: #282A35;"><input type="checkbox" class="form-check-input m-1" checked> &nbsp;&nbsp;<b style="color: whitesmoke;">Working software over comprehensive documentation</b></li>
        <li class="list-group-item list-group-item-action disabled" style="background-color: #282A35;"><input type="checkbox" class="form-check-input m-1" checked> &nbsp;&nbsp;<b style="color: whitesmoke;">Customer collaboration over contract negotiation</b></li>
        <li class="list-group-item list-group-item-action disabled" style="background-color: #282A35;"><input type="checkbox" class="form-check-input m-1" checked> &nbsp;&nbsp;<b style="color: whitesmoke;">Responding to change over following a plan</b></li>
      </ul><br>
      <br>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
